<div class="container">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

<div class="field">
  <%= f.label :username,class:'mt-2' %><br />
  <%= f.text_field :username, class:"form-control w-25" %>
</div>
  <div class="field">
    <%= f.label :email,class:'mt-2' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control w-25" %>
  </div>
  <div class="field">
   <%= f.label :age ,class:'mt-2' %><br />
   <%= f.check_box :age %>
  </div>
  <div class="field">
   <%= f.radio_button :citizenship, "Indian" %>
   <%= f.label :citizenship, "Indian" %>
   <%= f.radio_button :citizenship, "Other" %>
   <%= f.label :citizenship, "Other" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password,class:'mt-2' %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" , class:"form-control w-25"%>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation ,class:'mt-2'%><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control w-25"%>
  </div>

  <div class="field">
    <%= f.label :current_password ,class:'mt-2'%> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password"  , class:"form-control w-25"%>
  </div>
  <div class=”field”> 
  <%= f.file_field :avatars, multiple:true , class:"form-control w-25 mt-3"%> </div>

  <div class="actions">
    <%= f.submit "Update" , class:"form-control w-25 mt-3 btn btn-outline-dark" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <p><%= link_to "Back", :back %></p>
</div>